div(ng-app='ng-app')
  div.col-sm-9.dashboard-component
    div.panel.panel-default
      .panel-heading Placeholder
      .panel-body
  div.col-sm-3.dashboard-component
    div(ng-include="'/partials/sensorsList.html'")
    div(ng-include="'/partials/robot_status.html'")
