.panel.panel-default(ng-controller="RobotStatusCtrl")
  .panel-heading
    h4.panel-title Robot Status
  .panel-body
    div.battery
    div.wirelessStrength
      p Battery: {{info.battery}}
      p Wireless Strength: {{info.wireless_strength}}